.aws/
.auth/

airflowAWS_conn.py
snowflake_conn.py
archive/


terraform/terraform.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.d/
terraform/tweetid_userid_keyword_sentiments_emotions_Philippines.csv.gz
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraform/policies/

assets/tweetid_userid_keyword_sentiments_emotions_Philippines.csv.gz